/* set-up for double columns */
.column1 {
  float: left;
  width: 30%;
  padding: 3px;
}
.column2 {
  float: left;
  width: 65%;
  padding: 3px;
  
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

ul#two_col{
  list-style-type: none;
  padding: 2px;
  column-count: 2;
  margin-top: 0;
  -webkit-columns: 2;
  -moz-columns: 2;
  
}
ul#two_col > li {
  display: inline-block;
  width: 100%;
  border-top: 1px;
}

ul.notice--info  {
  padding-left:20px;!important
  padding-right:20px;!important
}
li{
padding-bottom:10px;!important
}
#two_col_img {  width: 100%; border-radius: 5%;} 

@media screen and (max-width: 700px) {
  ul#two_col {
    list-style-type: none;
    padding: 1px;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;  
  }
}